# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Folders
"F:\OnedriveUni\OneDrive - EUSS - ESCOLA UNIVERSITÀRIA SALESIANA DE SARRIÀ\TFG\TFG_IDPS\Doc\Localization\DWM1001\DWM1001_DWM1001-DEV_MDEK1001_Sources_and_Docs_v9\DWM1001\Source_Code\DWM1001_host_api"
"F:\OnedriveUni\OneDrive - EUSS - ESCOLA UNIVERSITÀRIA SALESIANA DE SARRIÀ\TFG\TFG_IDPS\Doc\Localization\DWM1001\DWM1001_DWM1001-DEV_MDEK1001_Sources_and_Docs_v9\DWM1001\Source_Code\DWM1001_on_board_package"